.woocommerce-variation.single_variation {
    display: none!important;
}
hr {
    margin: 15px 0!important;
}
input[type="checkbox"], input[type="radio"]{
    display: inline-block!important
}
input[type="number"] {
    display: inline-block!important;
    border-color: black!important;
    width: 50px;
}
#section-3d, #section-4g, #section-membership {
    margin-top: 15px;
    display: none;
}
.woocommerce-variation-price {
    display: block!important;
}
#price {
    font-size: 20px;
    color: #77a464;
}
.woocommerce-variation-add-to-cart.variations_button {
    justify-content: left!important;
}

/* basic layout */
.clear{clear:both;padding:0 !important;margin:0 !important;}
.wrap{box-sizing:border-box;max-width: 960px;margin:100px auto;padding:20px;background-color:#fff;}
.containers{width:1000px;margin: 0 auto;}
.fm-1{float:left;width:98%;margin-left:1%;margin-right:1%;}
.fm-2{float:left;width:48%;margin-left:1%;margin-right:1%;}
.fm-3{float:left;width:31.3333333333%;margin-left:1%;margin-right:1%;}
.fm-4{float:left;width:23%;margin-left:1%;margin-right:1%;}
.fm-5{float:left;width:28%;margin-left:1%;margin-right:1%;}
.fm-6{float:left;width:68%;margin-left:1%;margin-right:1%;}
.fullsize{width:100% !important;margin:0 auto;display:block;}
.half{float:left;width:50%;margin:0;}
.third{float:left;width:33.3333333333%;margin:0;}
.quarter{float:left;width:25%;margin:0;}
.flex-container {display:flex;align-items:center;}
.item {width:50%;}
small{font-size:0.85em;}
.alignleft{text-align:left;}
.alignright{text-align:right;}
.aligncenter{text-align:center;}
.justify{text-align:justify; text-justify:inter-word;}
.left{float:left;}
.right{float:right;}
.center{margin:0 auto;}
​
.total-price{position:fixed;top:0;}
​
#options .option-classic{display:block;width:100%;padding:20px;background-color:#1f2023;border-radius:6px;margin-bottom:10px;border:2px solid #1f2023;transition: all 0.3s ease;}
#options .option-classic:hover{display:block;width:100%;padding:20px;background-color:#1f2023;border-radius:6px;margin-bottom:10px;border:2px solid #4d5057;}
#options .option-selected{display:block;width:100%;padding:20px;background-color:#1f2023;border-radius:6px;margin-bottom:10px;border:2px solid #007aff;}
#options .item-name{width:70%;float:left;}
#options input[type="radio"]{
    visibility:hidden;position:absolute;left:-10px;
}
.item-price{width:30%;float:right;}